<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/application.log"
			filePattern="${basePath}/application-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd - HH:mm:ss} - %-5level - (%F:%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.http" level="fatal" additivity = "false">
			<AppenderRef ref="File" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>